<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Hacker News</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline mt-2 mt-md-0" name="searchCriteria">
            <select class="form-control mr-2" id="storyCount" name="storyCount" [(ngModel)]="searchCriteria.storyCount">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="0">Max</option>
            </select>
            <input class="form-control mr-2" type="text" name="keyWords" [(ngModel)]="searchCriteria.keyWords" />
            <button class="btn btn-primary" id="refreshStories" (click)="getStories()">Get Latest</button>
        </form>
    </div>
</nav>
